body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(252, 252, 252);
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

video {
    width: 100%;
    height: auto;
}
